body {
    background-color: #000000 !important; 

    font-family: 'Roboto', sans-serif !important;

    color: #FFFFFF !important;
}

#root {
    background-color: #000000;
    margin: 0;
    padding: 0;
    text-align: left;
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif, monospace; 
}

